body {
	background-image: url(/images/bg.png);
}

p {
	font-size: 16px;
	line-height: 21px;
}

.hero-unit {
	margin-top: 10px;
}

footer {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.page-header {
	margin-top: 0;
}

.nav.nav-pills {
	margin-bottom: 0;
}

.caption.span8 {
	padding-top: 0;
}

.caption h3 {
	margin-top: 0;
}

#AfterPost {
	border-top: 1px solid #999;
}

#AfterPost div {
	margin-top: 10px;
}

.CommentContent p {
	font-size: 14px;
	line-height: 20px;
}

.CommentContent {
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
}

@-webkit-keyframes moveUp
{
	from {
		padding-top: 5px;
		height: 32px;
	}

	to {
		padding-top: 0;
		height: 37px;
	}
}

@-webkit-keyframes moveDown
{
	from {
		padding-top: 0;
		height: 37px;
	}

	to {
		padding-top: 5px;
		height: 32px;
	}
}

#ContactMe a {
	float: left;
	width: 32px;
	height: 32px;

	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
}

#ContactMe a:hover {
	-webkit-animation: moveUp 300ms;
	-webkit-animation-fill-mode: forwards;
}

.label-info {
	background-color: #3a87ad;
	-webkit-transition: background-color 50ms linear;
}

.label-info:hover {
	background-color: #333333;
	-webkit-transition: background-color 100ms linear;
}