body {
	background-image: url(/images/bg.png);
}

p {
	font-size: 16px;
	line-height: 21px;
}

.hero-unit {
	margin-top: 10px;
}

footer {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.page-header {
	margin-top: 0;
}

.nav.nav-pills {
	margin-bottom: 0;
}

.caption.span8 {
	padding-top: 0;
}

.caption h3 {
	margin-top: 0;
}

#AfterPost {
	border-top: 1px solid #999;
}

#AfterPost div {
	margin-top: 10px;
}

.CommentContent p {
	font-size: 14px;
	line-height: 20px;
}

.CommentContent {
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
}

@-webkit-keyframes moveUp
{
	from {
		padding-top: 5px;
		height: 32px;
	}

	to {
		padding-top: 0;
		height: 37px;
	}
}

@-webkit-keyframes moveDown
{
	from {
		padding-top: 0;
		height: 37px;
	}

	to {
		padding-top: 5px;
		height: 32px;
	}
}

#ContactMe a {
	float: left;
	width: 32px;
	height: 32px;

	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
}

#ContactMe a:hover {
	-webkit-animation: moveUp 300ms;
	-webkit-animation-fill-mode: forwards;
}

.label-info {
	background-color: #3a87ad;
	-webkit-transition: background-color 50ms linear;
}

.label-info:hover {
	background-color: #333333;
	-webkit-transition: background-color 100ms linear;
}

@-webkit-keyframes navHover
{
	0% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 0%, transparent 0%); }
	5% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 5%, transparent 5%); }
	10% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 10%, transparent 10%); }
	15% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 15%, transparent 15%); }
	20% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 20%, transparent 20%); }
	25% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 25%, transparent 25%); }
	30% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 30%, transparent 30%); }
	35% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 35%, transparent 35%); }
	40% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 40%, transparent 40%); }
	45% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 45%, transparent 45%); }
	50% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 50%, transparent 50%); }
	55% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 55%, transparent 55%); }
	60% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 60%, transparent 60%); }
	65% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 65%, transparent 65%); }
	70% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 70%, transparent 70%); }
	75% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 75%, transparent 75%); }
	80% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 80%, transparent 80%); }
	85% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 85%, transparent 85%); }
	90% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 90%, transparent 90%); }
	95% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 95%, transparent 95%); }
	100% { background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 100%, transparent 100%); }
}

.nav-list > li > a:hover {
	background-color: transparent;
	-webkit-animation: navHover 400ms;
	-webkit-animation-fill-mode: forwards;
}

.nav2-list > li > a {
	background-color: transparent;
	background-image: -webkit-linear-gradient(left, #eeeeee 0%, #eeeeee 100%);
}